<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <!-- 引入jquery文件 -->
  <script src="/node_modules/jquery-1.12.2.js"></script>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1>亡者农药 <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <a class="btn btn-success pull-right" href="./views/add.html">添加英雄</a>
    <table class="table table-hover">
      <thead>
        <th>编号</th>
        <th>名称</th>
        <th>性别</th>
        <th>创建时间</th>
        <th>操作</th>
      </thead>
      <tbody>
        {{each data}}
        <tr>
          <td>{{$value.id}}</td>
          <td>{{$value.name}}</td>
          <td>{{$value.gender}}</td>
          <td>{{$value.address}}</td>
          <td>{{$value.date}}</td>
          <td>
            <a href="./views/info.html?id={{$value.id}}">查看</a>
            <a href="./views/edit.html?id={{$value.id}}">编辑</a>
            <a href="javaScript:void(0)" data-id="{{$value.id}}" class="btn-delete">删除</a>
          </td>
        </tr>
        {{/each}}
        <!-- <tr>
          <td>2</td>
          <td>李白</td>
          <td>男</td>
          <td>2017-12-12 12:12:12</td>
          <td>
            <a href="">查看</a>
            <a href="">编辑</a>
            <a href="">删除</a>
          </td>
        </tr>
        <tr>
          <td>3</td>
          <td>诸葛亮</td>
          <td>男</td>
            <td>2017-12-12 12:12:12</td>
            <td>
              <a href="">查看</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </td>
        </tr>
        <tr>
          <td>4</td>
          <td>大乔</td>
          <td>女</td>
          <td>2017-12-12 12:12:12</td>
          <td>
            <a href="">查看</a>
            <a href="">编辑</a>
            <a href="">删除</a>
          </td>
        </tr>
        <tr>
          <td>5</td>
          <td>后羿</td>
          <td>男</td>
          <td>2017-12-12 12:12:12</td>
          <td>
            <a href="">查看</a>
            <a href="">编辑</a>
            <a href="">删除</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <script>
    $(function () {
      // console.log($('#btn-delete'))
      $('.btn-delete').on('click', function () {
        // console.log('进来了')
        // 获取自定义属性的方法.data()获取取出来的值是一个对象
        let idid = $(this).attr('data-id')
        // console.log(idid)
        $.ajax({
          type: "get",
          url: "/deletHeroInfo",
          data: {
            id: idid
          },
          dataType: 'json',
          success: function (res) {
            console.log(res);
          }
        })
      })
    })


  </script>
</body>

</html>